<header>
    <nav>
        <button id = 'nav-button' class='nav-button'>
            <div class='burger'></div>
            <div class='burger'></div>
            <div class='burger'></div>
        </button>
        <div class='nav-bar' id='nav-bar'>
        <h1>MyFace</h1>
        <a href="/posts">Home</a>
        <a href="/posts">Posts</a>
        <a href="/users">Users</a>
        <a href="/posts/create/">+ New Post</a>
        </div>

    </nav>
</header>