/* Add your styles here. */
@import "create_user.css";
@import "create_post.css";
@import "post_list.css";
@import "user_detail.css";

.post-list {
    justify-content: center;
    width: 100%;
    background-color: #252A38;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

h1 {
    color: #008080;
    text-decoration: underline;
}


nav {
    background-color: #204760;
    color: white;
    padding: 20px 0 20px 0;
}

a:visited {
    color: white;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 20px;
    }
}

